/public/theme/
/public/.idea/*
/public/upload/
/public/log/
/public/doc/
/public/design/
/public/row.txt
/public/meter.zip
/public/meter.tar
/public/log.txt
/public/config.php
/backup/
/file from customer/
/public/meter/config.php
/public/meter/log/
/.idea
